@model int

<a href# asp-action="" asp-route-id="@Model" class="btn btn-primary">Go to Tasks</a>
<a href# asp-action="" asp-route-id="@Model" class="btn btn-primary">Edit</a>
<a href# asp-action="" asp-route-id="@Model" class="btn btn-primary">Delete</a>
