@model int

<a href# asp-action="Index" asp-controller="Task" asp-route-id="@Model" class="btn btn-primary">Go to Tasks</a>
<a href# asp-action="Edit" asp-route-id="@Model" class="btn btn-success">Edit</a>
<a href# asp-action="Delete" asp-route-id="@Model" class="btn btn-danger">Delete</a>
