@model Project
@{
    ViewData["Title"] = "Edit Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<form method="post" asp-action="Edit">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit @Model.Title</h6>
            <h7>Change project properties</h7>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Title" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Title" type="text" class="form-control">
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Description" class="col-form-label"></label>
                </div>
                <div class="col">
                    <textarea asp-for="Description" class="form-control" rows="12"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-5 offset-2">
                    <partial name="project/_UpdateDeleteBackToProjects" model="Model.Id" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
}
