@model IEnumerable<Project>

@{
    ViewData["Title"] = "Project Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
    
        <div class="row">
            <div class="col-6">
                <h5 >Your Projects</h5>
            </div>
            <div class="col-6 text-right">
                <a href# asp-action="Create" class="btn btn-primary">Create New</a>
            </div>
        </div>
        <br />

        @if (Model.Any())
        {

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Project Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@Html.DisplayFor(m => item.Title)</td>
                            <td>@Html.DisplayFor(m => item.Description)</td>
                            <td><partial name="project/_LoadItemsEditDeleteButtonsPartial" model="item.Id" /></td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <p>No project exists...</p>
        }

