@model IEnumerable<Project>

@{
    ViewData["Title"] = "Project Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href# asp-action="Create" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
    </span>
    <span class="text">Create New Project</span>
</a>
<br />
<br />
@if (Model.Any())
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Your Projects</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Started Date</th>
                            <th>Updated Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Title)</td>
                                <td>@Html.DisplayFor(m => item.Description)</td>
                                <td>@Html.DisplayFor(m => item.StartedDate)</td>
                                <td>@Html.DisplayFor(m => item.UpdatedDate)</td>
                                <td style="text-align: center; vertical-align: middle;"><partial name="project/_MoreDetails" model="item.Id" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p>No project exists...</p>
}