<button type="submit" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-check"></i>
    </span>
    <span class="text">Create</span>
</button>

<a #href asp-action="Index" asp-controller="IssueItem" asp-route-id="@Model" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text">Back to Project</span>
</a>
