@model int

<a href# asp-action="Delete" asp-route-id="@Model" class="btn btn-danger" style="float: right;">Delete</a>
<a href# asp-action="Edit" asp-route-id="@Model" class="btn btn-success" style="float: right;">Edit</a>
