@model ProjectManagementTool.Models.ViewModels.IssueItemViewModel
@{
    ViewData["Title"] = "Task Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="row">
    <div class="col-6">
    </div>
    <div class="col-6 text-right">
        <a href# asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
</div>
<br />

<div>
    <div class="card">
        <h5 class="card-header">Details For xx project</h5>
        <div class="card-body">
            @*<h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
            <br/>
            @if (Model.IssueItems.Any())
            {

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>


                    @foreach (var item in Model.IssueItems)
                    {

                        <tr>
                            <td asp-for="Type" asp-items="Html.GetEnumSelectList<IssueItem.EType>()"> @Html.DisplayFor(m => item.Title)</td>
                            <td>@Html.DisplayFor(m => item.Status)</td>
                            <td>@Html.DisplayFor(m => item.Type)</td>
                            <td><partial name="issueitem/_EditAndDeleteButtonPartial" model="item.Id"/></td>
                        </tr>
                    }
                    </tbody>
                </table>

            }
            else
            {
                <p>No record exists...</p>
            }
        </div>
    </div>
    
    
</div>

