@model ProjectManagementTool.Models.ViewModels.IssueItemViewModel
@{
    ViewData["Title"] = "Task Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5>Task</h5>

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Task List</h2>
        </div>
        <div class="col-6 text-right">
        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Project List</h2>
        </div>
        <div class="col-6 text-right">
            <a href# asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <br />

    @if (Model.IssueItems.Any())
    {
        @foreach (var item in Model.Project.IssueItems)
        {
            var collapseId = "collapseOne" + item.Id;

            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@{@collapseId}" aria-expanded="true" aria-controls="@{@collapseId}">@Html.DisplayFor(m => item.Title)</button>
                        </h5>
                    </div>

                    <div id="@{@collapseId}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">@Html.DisplayFor(m => item.Description)</div>
                    </div>
                </div>
            </div>
            <br />
        }
    }
    else
    {
        <p>No task exists...</p>
    }

</div>
